.vs/JwtApp/DesignTimeBuild/.dtbcache.v2
.vs/JwtApp/FileContentIndex/9a4e4382-3b94-45a7-9afb-87910c52e091.vsidx
.vs/JwtApp/FileContentIndex/read.lock
.vs/JwtApp/v17/.futdcache.v2
.vs/JwtApp/v17/.suo
.vs/ProjectEvaluation/jwtapp.metadata.v5.1
.vs/ProjectEvaluation/jwtapp.projects.v5.1
bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/JwtApp.deps.json
bin/Debug/netcoreapp3.1/JwtApp.dll
bin/Debug/netcoreapp3.1/JwtApp.exe
bin/Debug/netcoreapp3.1/JwtApp.pdb
bin/Debug/netcoreapp3.1/JwtApp.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/JwtApp.runtimeconfig.json
bin/Debug/netcoreapp3.1/JwtApp.Views.dll
bin/Debug/netcoreapp3.1/JwtApp.Views.pdb
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
wwwroot/lib/bootstrap/LICENSE
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap.css
wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
wwwroot/lib/bootstrap/dist/js/bootstrap.js
wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
wwwroot/lib/jquery/LICENSE.txt
wwwroot/lib/jquery/dist/jquery.js
wwwroot/lib/jquery/dist/jquery.min.js
wwwroot/lib/jquery/dist/jquery.min.map
wwwroot/lib/jquery-validation/LICENSE.md
wwwroot/lib/jquery-validation/dist/additional-methods.js
wwwroot/lib/jquery-validation/dist/additional-methods.min.js
wwwroot/lib/jquery-validation/dist/jquery.validate.js
wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
